body {
    margin: 0;
    background-color: #010712;
    background-image: url(https://static.pexels.com/photos/1526/dark-blur-blurred-gradient.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    width: 400px;
    height: 200px;
    position: relative;
    perspective: 1000;
    -webkit-perspective: 1000;
    left: calc(50% - 200px);
    top: calc(50vh - 100px);
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform 1s ease;
    cursor: pointer;
}

.back,
.front {
    border-radius: 6px;
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.contentfront {
    width: 100%;
    height: 100%;
    float: left;
    transform: translatez(60px);
    -webkit-transform: translatez(60px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.contentback {
    width: 100%;
    height: 100%;
    float: left;
    transform: translatez(60px);
    -webkit-transform: translatez(60px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.back {
    transform: rotateY(180deg);
    background-color: #232227;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    text-transform: uppercase;
    background-color: #232227;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.date {
    height: 100%;
    width: 130px;
    float: left;
    background-color: #E76642;
    border-radius: 0 6px 6px 0;
    text-align: right;
    padding: 10px 30px;
    box-sizing: border-box;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.datecont {
    height: 20%;
    transform: translatez(60px) scale(.9);
    -webkit-transform: translatez(60px) scale(.9);
}

.weather-icon img {
    width: 30px;
    height: auto;
    float: right;
}

#date {
    font-size: 30px;
    color: #ECECE7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    float: right;
}

#day {
    float: right;
    font-size: 16px;
    color: #ecece7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#month {
    float: right;
    font-size: 12px;
    color: #ecece7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.weather-container {
    height: 80%;
    transform: translatez(60px) scale(.9);
    -webkit-transform: translatez(60px) scale(.9);
}

div p {
    font-size: 11.8px;
    color: #ecece7;
    font-family: 'Montserrat', sans-serif;
}

.month {
    height: 100%;
    width: 270px;
    float: left;
    padding: 20px 30px;
    box-sizing: border-box;
}

.month table {
    width: 100%;
}

.orangeTr {
    color: #E76642;
}

.whiteTr {
    color: #ECECE7;
}

.whiteTr th:hover {
    color: #E76642;
    transition: .3s ease;
}

.month tr {
    height: 24px;
}

.month th {
    width: 14%;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#form {
    display: none;
    width: 400px;
    position: relative;
    perspective: 1000;
    -webkit-perspective: 1000;
    left: calc(50% - 200px);
    top: calc(50vh - 50px);
    background-color: #232227;
    color: #ECECE7;
    border-radius: 6px;
}

#form p {
    padding-left: 13px;
    font-weight: bold;
}

#name {
    border: none;
    outline: none;
    float: right;
    margin-right: 13px;
    padding-bottom: 5.3px;
}

#add-btn {
    cursor: pointer;
    outline: none;
    float: right;
}
#delete-btn {
    cursor: pointer;
    outline: none;
    float: left;
}

.flipped {
    transform: rotateY(-180deg);
    /*height:400px;
    width:200px;
    left:calc(50% - 100px);
    top:calc(50vh - 200px);*/
}

.backcontainer {
    transform-style: preserve-3d;
    width: calc(100% - 60px);
    height: calc(100% - 40px);
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    /*transform:translatez(60px) scale();*/
    background-color: #E76642;
    border-radius: 6px;
    padding: 10px 30px;
    box-sizing: border-box;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.backcontainer p {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
}
